$breakpoints: (
        phone: 320px,
        phone-norm: 360px,
        tablets-vert: 500px,
        tablets: 768px,
        desktop: 1340px,
        laptop: 1560px,
        desktop-large: 1600px,
        desktop-big: 1920px,
);


$colors: (
       yellow: #ffffe0,
       pink: #ffebee,
       gray: #c0c0c0,
       white: #fff,
       lightGray: #f0f0f0,
       boxShadow: rgba(206, 211, 217, 0.16),
       blue: #002266,
       black: #000,
       green: #007539,
       red: red
);